$o-ma-border-color: var(--MarketingAutomation-border-color, #{$o-gray-300});
$o-ma-hierarchy-background: var(--MarketingAutomation__Hierarchy-background-color,#F0F0F0);
$o-ma-color-white: $o-view-background-color;
