.o_documents_search_panel {
    .o_search_panel_label:not(:hover) .o_documents_search_panel_section_edit {
        display: none;
    }
    .o_search_panel_group_header {
        padding-right: 6px;
    }
    .o_documents_search_panel_section_edit {
        cursor: pointer;
    }
    .o_documents_search_panel_editable:hover .o_search_panel_counter {
        display: none;
    }
}
