.o_social_subtle_btn_readonly {
    color: lighten($o-main-text-color, 10%);
}

.o_social_instagram_preview {
    .o_social_preview_author {
        line-height: 2em;
    }

    .fa-instagram {
        color: #E1306C;
    }

    .o_social_instagram_font_size {
        font-size: 1rem;
        &.small {
            font-size: .8rem;
        }
    }
}
